<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3><i class="fas fa-align-justify"></i>Sports</h3>
                <div class="row cn-slider-large">
                    {{#each news}}
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="img/{{this.image}}" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <a class="cn-title" href="{{this.catelogy}}/{{this.slug}}">{{this.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Category News End-->


<!-- Top News Start-->
<div class="top-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="tn-img">
                    <img src="img/{{news.0.image}}" />
                    <div class="tn-content">
                        <div class="tn-content-inner">
                            <a class="tn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                            <a class="tn-title" href="{{news.0.catelogy}}/{{news.0.slug}}">{{news.0.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">

                    {{#each news}}
                    {{#if @index}}
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/{{this.image}}" />
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <a class="tn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                                    <a class="tn-title" href="{{this.catelogy}}/{{this.slug}}">{{this.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->



{{>topFooter}}